---
import { IMG } from '../../constants/img.constants';
import JImg from '../JImg.astro';
import './Nav.css';
import { ElementId } from '../../constants/element-id.constants';
---

<header class='header'>
  <nav class='navbar'>
    <a class='logo' href={`#${ElementId.HERO}`}>
      <JImg image={IMG.LOGO} />
    </a>

    <input type='checkbox' id='check' />
    <label for='check' class='expand-btn'>
      <JImg image={IMG.EXPAND_NAVBAR} />
    </label>
    <div class='navigation h-full'>
      <ul class='h-full'>
        <li class='links h-full'>
          <a class='h-full' href={`#${ElementId.ABILITIES}`}>Habilidades</a>
        </li>
        <li class='links h-full'>
          <a class='h-full' href={`#${ElementId.SOCIAL_NETWORKS}`}
            >Redes Sociales</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
